<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NodeJSPlugin">
        <meta-data
            android:name="messengerbot.plugin"
            android:value="true" />
        <meta-data
            android:name="messengerbot.engine.type"
            android:value="javascript" />
        <meta-data
            android:name="messengerbot.engine.name"
            android:value="NodeJS" />
        <meta-data
            android:name="messengerbot.engine.class"
            android:value="com.xfl.msgbot.plugins.nodejs.NodeJSEngine" />
        <meta-data
            android:name="messengerbot.engine.version"
            android:value="1.0.0" />
    </application>

</manifest>